<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
<body><script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=KqYwoLRdlZKmcjEhecd6wrqJcKHOvM9indSHrc_49Yn-KiVFew_DhfBPWRA8G1-gj_4Dw2NFCsTdm-ePBsHAXyNX2J6XgKGjq-u6r3_uojw" charset="UTF-8"></script>
    <h1>Миссия Колонизация Марса</h1>
    <h4>И на Марсе будут яблони цвести!</h4>
    {% block content %}{% endblock %}
</body>
</html>